</div>
<footer> Copyright &copy; <%= new Date().getFullYear() %> </footer>
<!-- POPPER JS -->
<script src="js/popper.min.js"></script>
<!-- BOOTSTRAP JS -->
<script src="js/bootstrap.min.js"></script>
<!-- LOCAL JS -->
<script src="js/index.js"></script>
</body>
</html>