<!-- Nav -->
<nav class="nav bg-dark nav-fill">
    <a class="nav-link nav-page"  href="/">Home</a>
    <a class="nav-link nav-page" href="/help">Help</a>
    <a class="nav-link nav-page" href="/about">About</a>
  </nav>