<%- include('./layouts/header'); -%>

<div class="dsd">
<form class="row g-3 ">
    <div class="col-auto">
      <input type="text" class="form-control " id="location" placeholder="Location" required autocomplete="off">
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" type="submit">
        <span id="thebtn" role="status" aria-hidden="true"></span>
        <b id="worrd">Search</b>
      </button>
      <!-- <button type="submit" class="btn btn-primary mb-3">Search</button> -->
    </div>
  </form>
</div>
  <p id="msg1">First paragraph</p>
  <p id="msg2">Second paragraph</p>

<%- include('./layouts/footer'); -%>

