<%- include('./layouts/header'); -%>
<div class="card">
  <h4>Please provide your Location !</h4>
  <form action="/" method="post">
    <div class="row">
      <div class="col-auto">
  <input type="text" placeholder="Location" class="form-control text-center" name="location" required>
</div>
  <div class="col-auto">
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
</div>
  </form>
</div>

  <p id="msg1"></p>
  <p id="msg2"></p>

<%- include('./layouts/footer'); -%>

