.nav-page,
a:hover {
  color: white;
}

body {
  background-color: #e7dfd5;
  font-family: "Montserrat", sans-serif;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  max-width: 700px;
  margin: 9rem auto;
  border-radius: 5px;
}

h4 {
  margin-bottom: 30px;
}
footer {
  position: fixed;
  bottom: 2px;
  height: 30px;
  text-align: center;
  width: 100%;
}
